<!DOCTYPE html>
<html lang="en">
  <html lang="en">
    <head>
      <meta charset="utf-8" />
      <meta
        name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no"
      />
      <meta name="description" content="" />
      <title>Swapp About</title>

      <link
        rel="canonical"
        href="https://getbootstrap.com/docs/4.5/examples/album/"
      />

      <!-- Bootstrap core CSS -->
      <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
        crossorigin="anonymous"
      />

      <link href="styles.css" rel="stylesheet" />
    </head>
    <body>
      <%- include('common/header'); -%>
      <div class="container ">

        <div>
            <h1>About SwApp</h1>
            <h3>What is a Swadesh List</h3>
            <p>
                A <a href="https://en.wikipedia.org/wiki/Swadesh_list" target="_blank">Swadesh List</a> is a list of words used in linguistics to gather the basic concepts
                in a language. It is named after the linguist <a href="https://en.wikipedia.org/wiki/Morris_Swadesh" target="_blank">Morris Swadesh</a>, 
                who inveted the concept. His original list contained 100 words, but other linguists expanded it to different lengths and formats. 
                Today, one of the most popular version contains 207 words. 
            </p>
            <h3>How is a Swadesh List used</h3>
            <p>
                A Swadesh List is mainly used in linguistics. Linguists use it to compare languages and determine if languages
                are related to one another, how closely related they are, when they became separated from a common ancestor, how
                languages change over time and so on. Words are chosen for their universal characteristics, that is a word should
                express a concept that is found in as many languages as possible. For example, a word like "man" is suitable for 
                a Swadesh list because this concept is easily found in most people's experiences, whereas "condescendence" appears 
                with a higher lever of cultural sophistication.  
            </p>
            <h3>Can you learn a language with Swadesh</h3>
            <p>
                The short answer is No and the long answer is Nooooooooooooo.
            </p>
            <p>
                Swadesh Lists are often described as lists of "basic" words in a language and some people view it as a tool
                for getting down the fundamental vocabulary in a language. This is a simplistic view of language learning and 
                a misunderstanding of the purpose of the science of lingusitics. Lingustics studies language as a human phenomenon. 
                It tries to understand human language and individual languages. A Swadesh List is a tool towards that goal. It is
                 not a list of the most common words in a language. 
            </p>
            <p>
                Language learners can benefit from it by getting a taste of the language and as a first step in acquiring vocabulary.
                However, it will not teach you a language, years of study and hard work will do that.
            </p>
            <h3>What is the purpose of SwApp</h3>
            <p>
                SwApp is an application that allows the user to look through a list of over 1200 languages. Each language record contains basic
                information about that language and a list of 215 words based on the list created by M. Swadesh in 1952. Any visitor 
                can search for a specific language and view it or he can look for two languages at once and compare them. The 
                languages can also be deleted or edited by a registered user. The user can also create a Swadesh list for a new 
                language by adding translations for the recommended words. 
            </p>
            <p>
                Not every language is complete. Actually, because of the limitations of the database used, and of the rarity of the languages involved,
                most languages lack the general information and a complete word list. This is not something unusual with a language database of this size, 
                as language information is sometimes very difficult to find. Thus, we rely on the kindness of strangers to accurately and in good faith
                complete the missing fields. 
            </p>
        </div> 
      </div>
      
       


      
      
      <%- include('common/footer'); -%>
    </body>
  </html>
</html>
